body { 
    font-family: sans-serif; 
    background: #F1DCC0; /* цвет фона на странице */
    margin: auto;
    padding: 0;
    width: 85%;
}

a, h1, h2       { color: #2e2b57; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h2              { font-size: 1.2em; }
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active { text-decoration: none; }

.page { 
    margin: 2em auto; 
    width: 35em; 
    border: 5px solid #ccc;
    padding: 0.8em; 
    background: #F3F781; 
}
.post {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    padding: 3px; /* Отступы от рамки до пунктов меню */
    /* border: 1px solid #000; /* Рамка вокруг меню */
    background: #C3E2F7; /* Цвет фона в рамке */
}

#header {
    background: #2CC6BC;
}

#header .menu { float: left; width: 100%; padding: 0; margin: 0; list-style-type: none}
#header .menu > li { display: inline }
#logout { float: right; }

#footer {
    background: #8fa09b; /* Цвет фона подвала */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    position: fixed;
    bottom: 10px;
    width:85%;
}

/* Styles for registration form */

.reg {
    width: 400px;
    margin: 60px auto;
    background: #0690cf;
    border: 3px solid #0075b2;
    /* position: absolute; */
}

.placeholder-text {
position: absolute;
top: 8px;
left: 10px;
color: #999;
display: none;
}

.reg_form {
    padding: 30px 0 0 22px;
}

.reg_form label {
    font: 17px Arial, sans-serif;
    color: #fff;
}

.reg_form > div {
    margin: 10px 0 10px 0;
}

.reg_title {
    margin: 0;
    padding: 22px 0 10px 22px;
    border-bottom: 5px solid #fff;
    color: #fff;
    font-size: 25pt;
    font-family: Arial, sans-serif;

}

.reg_bottom {
    margin-top: 1em;
    ont-weight: bold;
    display: inline-block;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(197, 197, 197);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    font-size: 10pt;
}
