<!DOCTYPE html>

<html>
<head>
    <title> Fatal error!:(</title>
     <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}">
    <style type="text/css">
    h1 {
        font-size: 200%; 
        font-family: Verdana, Arial, Helvetica, sans-serif; 
        color: #333366;
    }
    </style>
</head>

<body>
    <h1>
        <center>
            <marquee behavior="slide" direction="left" bgcolor="#00bfff">Sorry. Bad request. CSRF token missing or incorrect.
        </center>
    </h1> 
</body>

</html>

