{% extends "layout.html" %}

{% block body %}

{% for post in posts %}
  <h1>
    <a href={{ url_for('show_post', post_id=post.id) }}>
      {{ post.title }}
    </a>
  </h1>

  <div>(written by {{ post.author.username }})</div>
  <div>Created: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
  
  {% if post.updated_at %}
  <div>Last updated: {{ post.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
  {% endif %}

  <div>{{ post.content }}</div>

  <a href={{ url_for('edit_post', post_id=post.id) }}>Edit</a>
  <a href={{ url_for('delete_post', post_id=post.id ) }}>Delete</a>
  <a href={{ url_for('show_post', post_id=post.id) }}>Show this post</a>
  
  <hr> {# горизонтальная полоска #}
{% endfor %}

{% endblock %}
