{% extends "layout.html" %}

{% block body %}

<section class="reg">
    <p class="reg_title">Registration user</p>
    <form class="reg_form" action="" method="post">

        <div class="reg_form_username">
            <label for="username" class="reg_form_label">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="reg_form_password">
            <label for="password" class="reg_form_label">Password</label>
             <input type="password" id="password" name="password" required>
        </div>

        <div class="reg_form_password reg_form_password_again">
            <label for="password-confirm" class="reg_form_label">Enter password again</label>
            <input type="password" id="password-confirm" name="password-confirm" required>
        </div>

        <input class="reg_bottom" type="submit" value="Registration">
    </form>
</section>

{% endblock %}