{% extends "layout.html" %}

{% block body %}

<section class="reg">
    <h1 class="reg_title">Registration form</h1>
    <form class="reg_form" action="" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div>
            {{ form.password_confirm.label }}
            {{ form.password_confirm() }}
        </div>

        <div class="clear">
            <input type="submit" value="Registration">
        </div>
    </form>
</section>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
